---
Language:        Cpp
BasedOnStyle:  LLVM
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
ContinuationIndentWidth: 8
SortIncludes: false

AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true

AlignConsecutiveMacros: true
AlignEscapedNewlines: Right

AlignTrailingComments: true
...
