# Generated / build artifacts
build/
include/config/
include/version.h
.config
.config.old

# IDE
.vscode/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel module artifacts
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Bazel
bazel-*
bazel

# Generated device tree blobs
*.dtb

# Logs
*.log

# Binaries
*.bin
MODULE.bazel.lock
